<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
		    <img src="/static/img/tns-badge.png" alt="TNS Badge" />
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
		    <div style="clear: both;"></div>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
